@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-color: black;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
    border-bottom: 2px solid white;
}

.row>* {
    padding-left: 0;
    padding-right: 0;

}

.w-100 {
    width: 75%!important;
    margin: 0 auto;
}

.nav-link {
    font-size: 22px;
}


.titulo {
    color: white;
    font-family: 'Bebas Neue', 'sans-seriff';
    font-size: 54px;
}

.btn {
    background-color: red;
    border: none;
}

.busca {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 350px;
    height: 50px;
    border-radius: 10px;
}

.busca input {
    width: 300px;
    margin-left: 0.5em;
    border: none;
}

#busca:active {
    border: none;
}

.busca--img {
    width: 16px;
    height: 16px;
    margin-left: 0.5em;
}

.nav-link {
    color: red;
    border: none;
}

.card {
    margin: 6em auto;
    background-color: rgba(0, 0, 0, 0.616);  
}


.cabecalho {
    background: linear-gradient(#e66465, rgba(255, 4, 4, 0.295));

}



.card__cabecalho h1 {
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', 'sans-seriff';
    font-size: 65px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.sinopse {
    margin-top: 3em; 
}

.sinopse-descricao2 {
    display: flex;
    justify-content: flex-start;
}

.sinopse-descricao3 {
    width: 60%;
}

#one-piece-img {
    width: 15%;
    height: 15%;
    margin-right: 20em;
    margin-left: 10em;
}

.sinopse-descricao h2 {
    color: red;
    font-family: 'Bebas Neue', 'sans-seriff';
    font-size: 48px;
    font-weight:bold;
    margin-left: 1em;
}


.sinopse-descricao p {
    color: white;  
    font-size: 16px;
    margin-left: 1em;   
}

.card-group {
    margin: 0 auto;
    justify-content: left;
    align-items: center;
}


.informacoes {

    margin: 0;
    display: flex;
}

.card__informacoes {
    margin-top: 1em;
    display: flex;
    align-items: center;
}

.card-title__titulo {
    color: rgb(255, 0, 0);
    font-family: 'Bebas Neue', 'sans-seriff';
    font-size: 16px;
    font-weight:500;
    margin-left: 1em;
}

.card-title__texto {
    color: white;
    font-size: 12px;
    margin-left: 1em;
}

.horarios.filme {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-horario {
    color: white;
    font-family: 'Bebas Neue', 'sans-seriff';
    font-size: 38px;
    font-weight:bold;
    margin-top: 1em;
}

.nome-shopping {
    color: white;
    font-size: 30px;
    font-family: 'Bebas Neue', 'sans-seriff';
    font-weight: 500;
    margin-top: 1em;
}

.texto-shopping {
    color: rgb(255, 0, 0);
    font-size: 22px;
    font-family: 'Bebas Neue', 'sans-seriff';
}

.btn-ingresso {
    margin-top: 2em;
    margin-left: 1em;
}

h6 {
    color: white;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
}

footer h1 {
    color: white;
    font-family: 'Bebas Neue', 'sans-seriff';
    font-size: 54px;
    margin-top: 1em;
}

hr {
    border: 4px solid white;
}

.separar-item {
    border: 4px solid white;
    width: 70%;
}
